# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Production build
dist/
build/

# Optional OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# IDE files (optional)
.vscode/
.idea/